body {
    flex-direction: column;
    min-height: 100vh;
    background-image: url(fundo-linhas.png);
    font-family: roboto;
    margin: 0; 
}

.container3 {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    width: 200%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto; 
    box-sizing: border-box; 
    text-align: left;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.search-form {
    background-color: #0055A5;
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    display:flex;
}
.history-section {
    background-image: url(fundo-linhas.png);
    color: white;
    padding: 0px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    display:flex;
    
    
}    
.receipt{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    color: black;
    margin-top: 10px;
    
}

.search-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
.search-form label{
    display: block;
    margin-top: 20px;
    align-items: center;
    
}

.result-item {
    background-color: #e6f0ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.result-item h2 {
    font-size: 18px;
    color: #003f8a;
}

.result-item p {
    margin: 5px 0;
    color: black;
}
.btn-primary {
    background-color: #ED9E1C; 
    color: black; 
    border: none; 
    padding: 10px 20px;
    width: auto;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    
}


.search-form button{
    background-color: #ED9E1C; 
    color: black; 
    border: none; 
    padding: 10px 20px;
    width: auto;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 120px;
     
}
.history-section button{
    background-color: #ED9E1C; 
    color: black; 
    border: none; 
    padding: 10px 20px;
    width: auto;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}



